.top{
  background-color: transparent;
  height: 15%;
  position: absolute;
  bottom: 19%;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 4%;
}
.bottom{
  background-color:transparent;
  height: 15%;
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 4%;
}

.child {
  float: left;
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.btn {
  width: 70%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 4px gray;
  background-color: white;
  border: 1px solid #003300;
  visibility: hidden;
}

.selected {
  background-color: #003300;
  border: 1px solid white;
  visibility: visible;

}

/* .line{
  background-color: transparent;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-top: 2px solid #BBBBBB;
} */