.top{
  background-color: transparent;
  height: 15%;
  position: absolute;
  bottom: 19%;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 4%;
  width: 25%;
}

.bottom{
  background-color: transparent;
  height: 15%;
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 4%;
  width: 25%;
}

.non-selected{
  background-color: transparent;
  left: 25%;
  width: 75%;
}

.top .child, .bottom .child{
  width: 100%;
}

.top.non-selected .child, .bottom.non-selected .child{
  width: 33%;
}

.child {
  float: left;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(128,128,128,0.46);
-moz-box-shadow: 7px 7px 5px 0px rgba(128,128,128,0.46);
box-shadow: 7px 7px 5px 0px rgba(128,128,128,0.46);
  background-color: white;
  border: 1px solid #003300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: #003300;
  border: 1px solid white;
}

.flag{
  border-radius: 50%;
}
